.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffe21c);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.sel_folder {

}

.mod_list {
  width: 80dvw;
  position: absolute;
}


.mc_mod {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 80px;
  gap: 5px;
  align-items: center;


  border: 1px solid green;
}

.mc_mod__icon {
  max-height: 100%;
}

.mc_mod__middle {
  display: flex;
  flex-flow: column nowrap;

}

.mc_mod__middle__name {
  font-size: x-large;
}

.mc_mod__middle__path {
  font-size: small;
}

.mc_mod__toggle {
  background: red;
}

.mc_mod__toggle.disabled {
  background: green;
}